"""
Django local settings for edupedia.r-stack.jp

This file is assumed to be overridden by symlinking from
individual local_settings.py depends on a deployment process.

last modified:   May 30, 2016 by @kwbt69
"""

DEBUG = False
TEMPLATE_DEBUG = False
ALLOWED_HOSTS = ['*']
COMPRESS_ENABLED = True
COMPRESS_OFFLINE = True

# Google APIs
GOOGLE_API_KEY = ''
GOOGLE_SEARCH_ENGINE_ID = ''

DATABASES = {
    'default': {
        'ENGINE' : 'django.db.backends.mysql',
        'NAME': 'dev_edupedia',
        'USER': 'edupedia_app',
        'PASSWORD': 'p@ssw0rd',
        'HOST': 'localhost',
        'PORT': '3306',
    }
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'formatters': {
        'verbose': {
            'format': '%(levelname)s %(asctime)s %(module)s %(process)d %(thread)d %(message)s'
        },
        'simple': {
            'format': '%(levelname)s %(message)s'
        },
    },
    'handlers': {
        'null': {
            'level':'DEBUG',
            'class':'django.utils.log.NullHandler',
        },
        'console':{
            'level':'DEBUG',
            'class':'logging.StreamHandler',
            'formatter': 'simple'
        },
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '/var/tmp/hackday2016/edupedia.log',
            'formatter': 'verbose',
        },
    },
    'loggers': {
        'django': {
            'handlers':['file'],
            'propagate': True,
            'level':'INFO',
        },
        'django.request': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': False,
        },
        'root': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': False,
        },
    }
}


